.DS_Store
.idea
/Configuration

/bin
/src/node_modules/
/vendor
/web/build/css
/web/build/js
/web/fileadmin/*
/web/index.php
/web/typo3
/web/typo3temp/*
/web/uploads
/web/typo3conf/PackageStates.php
/web/typo3conf/ext/*
!/web/typo3conf/ext/tmpl_*

